.gallery {
    padding: 0 calc(2 * var(--spacing));
    max-width: calc(125 * var(--spacing));
    column-count: 2;
}

.gallery__image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: calc(2 * var(--spacing));
    transition: border-radius var(--transition-duration);
    border-radius: var(--border-radius);
}

.gallery__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .gallery {
        padding: 0 calc(6 * var(--spacing));
        column-gap: calc(2 * var(--spacing));
    }

    .gallery__image {
        border-radius: 0;
    }

    .gallery__image:hover {
        border-radius: var(--border-radius);
    }
}

@media (min-width: 992px) {
    .gallery {
        column-count: 3;
    }
}
